<table>
    <tr>
        <td><a href="/zest">Home</a></td>
        <td><a href="{{ site.baseurl }}/binarymath">Binary Math</a></td>
        <td><a href="{{ site.baseurl }}/binarylogic">Binary Logic</a></td>
        <td><a href="{{ site.baseurl }}/LogicGates">Logic Gates</a></td>
        <td><a href="{{ site.baseurl }}/family-night">Family-Night</a></td>
        <td><a href="{{ site.baseurl }}/fetchingandfiltering">Fetching and Filtering</a></td>
        <td><a href="{{ site.baseurl }}/githubpages">Github pages</a></td>
    </tr>
</table>
